*{
  box-sizing: border-box;
  font-family: 'normal';
}

body{
  background: rgb(149, 236, 109);
  padding: 0 20px;
}

.SearchBox{
  max-width: 450px;
  margin: 250px auto;
}

.SearchBox .searchinput{
  background: whitesmoke;
  width: 100%;
  border-radius: 5px;
}

.searchinput input{
  height: 60px;
  width: 100%;
  outline: wheat;
  border-radius: 5px;
  padding: 4%;
  font-size: 18px;
  box-shadow: 0px 1px 5px ;
}


.searchinput .suggestions{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.searchinput.active .suggestions{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.suggestions li{
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.searchinput.active .suggestions li{
  display: block;
}
.suggestions li:hover{
  background: rgb(143, 139, 139);
}
.searchinput .icon{
   height: 55px;
   width: 55px;
   line-height: 55px;
   position: absolute;
   top:0;
   left: 0;
   color: #9a8ee4;
   cursor: pointer;
}

